<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/main.css">
    <noscript>
        <meta http-equiv="refresh" content="0.8">
    </noscript>
</head>
<body>
<main>
    <main>
        <span>{{gameTime}}</span>
        <div>
            <span>{{teams.team1.name}}</span>
            <span>{{teams.team1.goals}}</span>
        </div>
        <div>
            <span>{{teams.team2.name}}</span>
            <span>{{teams.team2.goals}}</span>
        </div>
    </main>
</main>
</body>
</html>