<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <noscript>
        <meta http-equiv="refresh" content="0.9">
    </noscript>
</head>
<body>
<nav>
    <a href="/dashboard">Back to dashboard</a>
</nav>
<main class="match">
    <div class="match-details">
        <div class="team">
            <figure>
                <img src="/images/teams/{{teams.team1.id}}.png" alt="">
                <figcaption>{{teams.team1.name}}</figcaption>
            </figure>
            <p class="team-goals team1-goals">{{teams.team1.goals}}</p>
        </div>
        <div class="teams-separator">
            <p class="game-time">{{gameTime}}</p>
            <p>-</p>
        </div>
        <div class="team">
            <p class="team-goals team2-goals">{{teams.team2.goals}}</p>
            <figure>
                <img src="/images/teams/{{teams.team2.id}}.png" alt="">
                <figcaption>{{teams.team2.name}}</figcaption>
            </figure>
        </div>
    </div>
    <div class="match-timeline">
        {{> match-timeline}}
    </div>
    <script id="match-timeline-template" type="text/x-handlebars-template">
        {{{{raw}}}}
            {{#each timeline}}
            <div class="timeline-card">
                <div>
                    <div class="team">
                        <p class="timeline-team-name">{{scoringTeam.name}}</p>
                        <p class="timeline-team-goals">{{scoringTeam.goals}}</p>
                    </div>
                    <div class="teams-separator">
                        <p>Goal!</p>
                        <p class="timeline-score-time">{{scoreTime}}</p>
                        <p>-</p>
                    </div>
                    <div class="team">
                        <p class="timeline-team-goals">{{opponentTeam.goals}}</p>
                        <p class="timeline-team-name">{{opponentTeam.name}}</p>
                    </div>
                </div>
                <div class="timeline-player">
                    <p class="timeline-player-name">{{player}}</p>
                    <img src="/images/teams/{{scoringTeam.id}}.png" alt="{{scoringTeam.name}}" class="timeline-player-team">
                </div>
            </div>
            {{/each}}
        {{{{/raw}}}}
    </script>
</main>
<script src="/js/client.js"></script>
<script src="/js/handlebars.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
</body>
</html>